In [3]:
import pandas as pd

In [6]:
olympics_df = pd.read_csv('Olympics.csv')

In [7]:
all_records = olympics_df

In [8]:
athlete_medals = olympics_df[['name', 'medal']]

In [9]:
total_athletes = olympics_df['name'].nunique()
print(f"Total number of athletes: {total_athletes}")

Total number of athletes: 35

In [10]:
gold_medalists = olympics_df[olympics_df['medal'] == 'Gold']

In [11]:
silver_medalists = olympics_df[olympics_df['medal'] == 'Silver'].sort_values('year')

In [24]:
medals_by_country = olympics_df.groupby(['noc', 'medal']).size().unstack(fill_value=0)
medals_by_country = medals_by_country.rename(columns={0: 'Bronze', 1: 'Gold', 2: 'Silver'})
print(medals_by_country)

medal  Bronze  Gold  Silver
noc
DEN         0     1       0
FIN         5     3       0
NED         1     0       1
NOR         2     5       3

In [35]:
df_g = olympics_df[olympics_df['medal'] == 'Gold']
print(df_g)

    id                       name sex  age  height  weight            team  \
3    4       Edgar Lindenau Aabye   M   34     NaN     NaN  Denmark/Sweden
42  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
44  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
48  17    Paavo Johannes Aaltonen   M   28   175.0    64.0         Finland
60  20         Kjetil Andr Aamodt   M   20   176.0    85.0          Norway
73  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
76  20         Kjetil Andr Aamodt   M   30   176.0    85.0          Norway
78  20         Kjetil Andr Aamodt   M   34   176.0    85.0          Norway
79  21  Ragnhild Margrethe Aamodt   F   27   163.0     NaN          Norway

    noc        games  year  season            city          sport  \
3   DEN  1900 Summer  1900  Summer           Paris     Tug-Of-War
42  FIN  1948 Summer  1948  Summer          London     Gymnastics
44  FIN  1948 Summer  1948  Summer          London     Gymnastics
48  FIN  1948 Summer  1948  Summer          London     Gymnastics
60  NOR  1992 Winter  1992  Winter     Albertville  Alpine Skiing
73  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
76  NOR  2002 Winter  2002  Winter  Salt Lake City  Alpine Skiing
78  NOR  2006 Winter  2006  Winter          Torino  Alpine Skiing
79  NOR  2008 Summer  2008  Summer         Beijing       Handball

                               event medal
3        Tug-Of-War Men's Tug-Of-War  Gold
42  Gymnastics Men's Team All-Around  Gold
44      Gymnastics Men's Horse Vault  Gold
48  Gymnastics Men's Pommelled Horse  Gold
60       Alpine Skiing Men's Super G  Gold
73       Alpine Skiing Men's Super G  Gold
76      Alpine Skiing Men's Combined  Gold
78       Alpine Skiing Men's Super G  Gold
79         Handball Women's Handball  Gold

In [36]:
print(df_g['name'])

3          Edgar Lindenau Aabye
42      Paavo Johannes Aaltonen
44      Paavo Johannes Aaltonen
48      Paavo Johannes Aaltonen
60           Kjetil Andr Aamodt
73           Kjetil Andr Aamodt
76           Kjetil Andr Aamodt
78           Kjetil Andr Aamodt
79    Ragnhild Margrethe Aamodt
Name: name, dtype: object

In [17]:
athlete_medal_counts = olympics_df.groupby('name')['medal'].count().sort_values(ascending=False)
top_medalist = athlete_medal_counts.index[0]
print(f"Athlete with the most medals: {top_medalist}")

Athlete with the most medals: Kjetil Andr Aamodt

In [18]:
freestyle_events = olympics_df[olympics_df['event'].str.contains('Freestyle', case=False)]
print(freestyle_events['event'].unique())

["Swimming Men's 400 metres Freestyle"]

In [19]:
top_athletes_by_sport = olympics_df.groupby(['sport', 'name'])['medal'].count().reset_index().sort_values(['sport', 'medal'], ascending=[True, False]).groupby('sport').head(3)
print(top_athletes_by_sport)

                   sport                                  name  medal
0          Alpine Skiing                    Kjetil Andr Aamodt      8
1       Art Competitions                 Win Valdemar Aaltonen      0
2              Athletics  Cornelia \Cor\" Aalten (-Strannood)"      0
3              Athletics                     Evald rma (rman-)      0
4              Athletics    Jamale (Djamel-) Aarrass (Ahrass-)      0
7              Badminton                     Jyri Tapani Aalto      0
8             Basketball                             A Dijiang      0
9               Biathlon        Pirjo Hannele Aalto (Mattila-)      0
10             Bobsleigh                Dagfinn Sverre Aarskog      0
11  Cross Country Skiing                          John Aalberg      0
12  Cross Country Skiing                    Jorma Ilmari Aalto      0
13  Cross Country Skiing                       Per Knut Aaland      0
14              Football                   Gunnar Nielsen Aaby      0
16            Gymnastics               Paavo Johannes Aaltonen      5
15            Gymnastics                      Alf Lied Aanning      1
17              Handball             Ragnhild Margrethe Aamodt      1
18                Hockey                  Willemien Aardenburg      1
20            Ice Hockey              Juhamatti Tapio Aaltonen      1
19            Ice Hockey                      Antti Sami Aalto      0
21                  Judo                              A Lamusi      0
22                  Luge          Agnes Erika Aanonsen (-Eyde)      0
23                Rowing                      Pepijn Aardewijn      1
24               Sailing                      Jan-Erik Aarberg      0
25               Sailing                   Mika Lauri Aarnikka      0
26               Sailing                    Minna Maarit Aalto      0
27         Speed Skating              Christine Jacoba Aaftink      0
28         Speed Skating                      Nils Egil Aaness      0
29              Swimming                  Arvo Ossian Aaltonen      2
30              Swimming      Einar Ferdinand \Einari\" Aalto"      0
31            Tug-Of-War                  Edgar Lindenau Aabye      1
32            Water Polo                         Johan Aantjes      0
33         Weightlifting                         Andreea Aanei      0
34             Wrestling                           Fritz Aanes      0

In [20]:
multiple_medalists = olympics_df.groupby(['year', 'name'])['medal'].count().reset_index()[olympics_df.groupby(['year', 'name'])['medal'].count().reset_index()['medal'] > 1]
print(multiple_medalists)

    year                     name  medal
4   1920     Arvo Ossian Aaltonen      2
9   1948  Paavo Johannes Aaltonen      4
25  1992       Kjetil Andr Aamodt      2
30  1994       Kjetil Andr Aamodt      3
44  2002       Kjetil Andr Aamodt      2

In [26]:
summer_gold = olympics_df[(olympics_df['season'] == 'Summer') & (olympics_df['medal'] == 'Gold')]['noc'].unique()
winter_gold = olympics_df[(olympics_df['season'] == 'Winter') & (olympics_df['medal'] == 'Gold')]['noc'].unique()
dual_season_gold = list(set(summer_gold) & set(winter_gold))
print(f"Countries with Gold medals in both Summer and Winter Olympics: {', '.join(dual_season_gold)}")

Countries with Gold medals in both Summer and Winter Olympics: NOR

In [27]:
first_last_year = olympics_df.groupby('noc')['year'].agg(['min', 'max']).reset_index()
first_last_year['year_diff'] = first_last_year['max'] - first_last_year['min']
print(first_last_year)

   noc   min   max  year_diff
0  CHN  1992  2012         20
1  DEN  1900  1920         20
2  EST  1936  1936          0
3  FIN  1912  2014        102
4  FRA  2012  2012          0
5  NED  1932  2000         68
6  NOR  1912  2008         96
7  ROU  2016  2016          0
8  USA  1992  1994          2

In [29]:
avg_medals_per_athlete = olympics_df.groupby(['noc', 'name'])['medal'].count().reset_index().groupby('noc')['medal'].mean().reset_index()
print(avg_medals_per_athlete)

   noc     medal
0  CHN  0.000000
1  DEN  0.500000
2  EST  0.000000
3  FIN  0.666667
4  FRA  0.000000
5  NED  0.400000
6  NOR  1.111111
7  ROU  0.000000
8  USA  0.000000

Find athletes who won medals in three consecutive Olympic games in the same event

In [38]:
df_t = olympics_df.groupby(['name', 'sport', 'year']).size()
dft_t = df_t[df_t >= 3].reset_index()['name'].unique()
print(dft_t)

['John Aalberg' 'Kjetil Andr Aamodt' 'Paavo Johannes Aaltonen'
 'Per Knut Aaland']